* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Chakra Petch', Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-family: 'Chakra Petch', Arial, sans-serif;
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 10px;
}

p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

ul {
  padding-left: 15px;
}

li {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #189b6f;
  text-decoration: none;
}

header {
  font-family: 'Chakra Petch', Arial, sans-serif;
  position: fixed;
  height: 75px;
  line-height: 75px;
  width: 100%;
  padding: 0 60px;
  z-index: 10;
  background-image: linear-gradient(to bottom, #091A56, #2D5DCC);
}

.name {
  display: block;
  float: left;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: seashell;
}

nav {
  display: block;
  float: right;
}

nav.desktop li {
  font-size: 20px;
  display: inline-block;
}

nav.desktop li a {
  color: seashell;
  padding-left: 20px;
}

nav.mobile {
  display: none;
}

nav.mobile i {
  font-size: 20px;
  color: seashell;
  display: inline-block;
  cursor: pointer;
}

nav.mobile ul {
  position: absolute;
  right: 0;
  top: 75px;
  width: 150px;
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

nav.mobile li {
  font-size: 20px;
  padding: 10px;
}

nav.mobile li:hover {
  background-color: #2D5DCC;
}

nav.mobile li a {
  color: #000000;
}

nav.mobile li:hover a {
  color: seashell;
}

main {
  position: relative;
  top: 70px;
  max-width: 1000px;
  margin: 0 auto;
}

section {
  padding-top: 60px
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-container {
  margin-top: 20px;
}

.icon-container > * {
  font-size: 2em;
  width: 2em;
  padding-right: 20px;
}

.text-container {
  min-height: 50px;
  border: 1px solid black;
  width: 75%;
  margin-top: 15px;
  padding: 10px;
}

i {
  margin-bottom: 15px;
  cursor: pointer;
}

footer {
  font-family: 'Chakra Petch', Arial, sans-serif;
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 38px;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(to top, #091A56, #2D5DCC);
  color: seashell;
  text-align: center;
}


#primaryColor {
  background-color: #091A56;
  color: #FFFFFF;
}

#secondaryColor {
  background-color: #2D5DCC;
  color: #FFFFFF;
}

#linkColor {
  background-color: #4FE0B0;
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0 60px;
  }
  .name {
    font-size: 30px;
  }
  main {
    margin: 0 60px;
  }
  nav.desktop li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
  }
}